@page "/"
@inject HttpClient http


@if (tarefas == null)
{
    <p>Carregando......................</p>
}
else if (!tarefas.Any())
{
    <p>Não existe tarefas</p>}
else
{
    foreach (var item in tarefas)
    {
       <table border="1">
           <tr>
               <td>ID</td>
               <td>Descrição</td>
               <td>Status</td>
               <td>Data Criação</td>
           </tr>
           <tbody>
               <tr>
                   <td>@item.ID</td>
                   <td>@item.Descricao</td>
                   <td>@item.Concluido</td>
                   <td>@item.DataCriacao</td>

               </tr>
            
           </tbody>
       </table>
    }
}


@code{

    public class Tarefa
    {
        public Guid ID { get; set; }
        public string Descricao { get; set; }
        public bool Concluido { get; set; }
        public DateTime DataCriacao { get; set; }

    }

    private string novaTarefa = "";
    private List<Tarefa> tarefas = new List<Tarefa>();

    protected override async Task OnInitializedAsync()
    {
        tarefas = await http.GetFromJsonAsync<List<Tarefa>>("Dados/tarefas.json");
    }

}
