<h3>AlertaComponent</h3>
<div class="alert alert-danger mt-4" role="alert">
    <span class="oi oi-circle mr-2" aria-hidden="true"></span>
    <strong>@Menssagem</strong>
</div>


@code {
    [Parameter] 
     public string Menssagem { get; set; }
}
