@page "/"
@inject HttpClient http;

<h1>Tarefas</h1>

<TarefasComponent></TarefasComponent>


@code{
    List<Tarefa> tarefas = new List<Tarefa>();
    protected override async Task OnInitializedAsync()
    {
        tarefas = await http.GetFromJsonAsync<List<Tarefa>>("Dados/tarefas.json");
    }
}